* {
    margin: 0;
    padding: 0;
}

.main-wrap {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(#e66465, #9198e5);
}

.nav-bar {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
    color: white;
}

.nav-bar h1 {
    flex-shrink: 0;
    font-weight: bold;
}

.color-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.color-picker {
    width: 55px;
    height: 55px;
    border: 2px solid rgba(255, 255, 255, 0);
    border-radius: 50%;
    transition: 50ms;
    opacity: 0.75;
}

.color-picker:hover {
    scale: 1.05;
    transition: 50ms;
}

#white {
    background-color: white;
}

#black {
    background-color: black;
}

#red {
    background-color: red;
}

#green {
    background-color: green;
}

#blue {
    background-color: blue;
}

.active {
    border: 2px solid rgba(255, 255, 255, 1);
    opacity: 1;
}

.active-white {
    border: 2px solid rgba(0, 0, 0);
    opacity: 1;
}


.input-div {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.nav-bar button {
    width: 157px;
    padding: 10px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;
    background-color: transparent;
    color: white;
    transition: 50ms;
}

.nav-bar button:hover {
    transition: 50ms;
    box-shadow: rgb(255, 255, 255, 0.35) 5px 5px 15px;
}

.nav-bar button:active {
    scale: 1.05;
    transition: 50ms;
}

.nav-bar input {
    width: 133px;
    padding: 10px;
    background-color: transparent;
    border: 2px solid white;
    color: rgb(255, 255, 255);
    border-radius: 5px;
}

.nav-bar input:focus {
    outline: white;
    box-shadow: rgb(255, 255, 255, 0.35) 5px 5px 15px;
    transition: 50ms;
}

.nav-bar input::placeholder {
    color: white;
    opacity: 1;
}

.sketch-container {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.sketch-pad {
    background-color: rgb(255, 255, 255);
    border: rgb(255, 255, 255) 1px solid;
    box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
    height: 700px;
    width: 700px;
    display: flex;
    flex-wrap: wrap;
}

.new-div {
    flex-grow: 1;
}

.new-div-active {
    background-color: aquamarine;
}

.footer {
    height: 10vh;
}