* {
    margin: 0;
    padding: 0;
}

.nav-bar {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
    border-bottom: 1px solid grey;
    background-color: antiquewhite;
}

.input-div {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.nav-bar h1 {
    font-weight: bold;
}

.nav-bar button {
    padding: 8px;
    border: 1px solid grey;
    border-radius: 5px;
}