* {
    margin: 0;
    padding: 0;
}

.main-wrap {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(#e66465, #9198e5);
}

.nav-bar {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
    color: white;
}

.input-div {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.nav-bar h1 {
    font-weight: bold;
}

.nav-bar button {
    padding: 8px;
    border: 1px solid grey;
    border-radius: 5px;
}

.nav-bar input {
    padding: 5px;
}

.sketch-container {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.sketch-pad {
    background-color: rgb(255, 255, 255);
    border: grey 1px solid;
    box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
    height: 80%;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.footer {
    height: 10vh;
}